transformers
transformers[sentecepiece]
datasets
sacrebleu
rouge_score
py7zr
nltk
tqdm
PyYAML
matplotlib
tensorflow==2.10.0
tensorflow_gpu==2.10.0
torch
notebook
boto3
mypy-boto3-s3
python-box
ensure
fastapi
uvicorn
Jinja2

-e .